@charset "utf-8";

.bgLRextend::before{
  background-color: #FFCD3C;/*伸びる背景色の設定*/
}
.c-subpage__catch::before {
  background-image: url(../img/waku-orange_01.svg);
}
.c-subpage__catch::after {
  background-image: url(../img/waku-orange_02.svg);
}

.area {
  background-color: rgba(255,255,255,0);
}

.tab li.active a {
  position: relative;
  color: #1BA6B2;
  border: 2px solid #1BA6B2;
}
.tab li.active a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 6px;
  background-color: #fff;
}

.p-about__head {
  border-bottom: 2px solid #1BA6B2;
  padding-top: 80px;
  background-color: #fff;
}

.p-tabs {
  margin: 0 -10px;
}

.p-tabs li {
  width: calc(100% / 4);
  text-align: center;
  padding: 0 10px;
}
.p-tabs li a {
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 8px 8px 0 0;
  padding: 20px 0;
  background-color: #1BA6B2;
}

.p-tabs__contents {
  margin: 100px auto;
}


.p-about__message .p-description {
  padding: 50px 0 20px;
}

.c-list__ol01 > li::before {
  content: counter(cnt) ")";
}

.p-contents__01 {
  background-color: rgba(255,255,255,0);
}

.p-contents__01__image {
  height: 400px;
}

.p-tabs__contents .c-datalist__01 {
  align-items: flex-start;
  border-bottom: 1px solid #1BA6B2;
}
.p-tabs__contents .c-datalist__01 dt,
.p-tabs__contents .c-datalist__01 dd {
  border-top: 1px solid #1BA6B2;
  background-color: #fff;
}
.p-tabs__contents .c-datalist__01 dd {
  padding-left: 100px;
  border-left: 1px solid #1BA6B2;
}
.p-tabs__contents .c-datalist__01 dd ul li {
  position: relative;
  padding: 10px 0;
}
.p-tabs__contents .c-datalist__01 dd ul li:not(:last-of-type)::before {
  content: "";
  position: absolute;
  left: -100px;
  bottom: 0;
  width: 114%;
  height: 1px;
  background-color: #1BA6B2;
}

.p-about__history .timeline {
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
.p-about__history .timeline li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 14px;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 1px;
}
.p-about__history .timeline li:nth-of-type(1) .p-contents__01__description > h3 {
  color: #1BA6B2;
}
.p-about__history .timeline li::after {
  display: none;
}
.p-about__history .image {
  position: relative;
  width: 30%;
  z-index: 1;
}
.p-about__history .image > div {
  width: 180px;
  height: 180px;
  margin: 0 auto;
}
.p-about__history .image > div img {
  border-radius: 50%;
}
.p-about__history .p-contents__01__description {
  width: 70%;
  opacity: 0;
}
.p-about__feature .p-contents__01__description > p {
  padding: 5px 0 0 0;
}
.p-about__history .timeline li::after {
  top: 5px;
  left: -18px;
  width: 13px;
  height: 13px;
}

.p-about__history .c-ttl__26 {
  font-size: 16px;
  padding-top: 25px;
}
.p-about__history .c-ttl__26 span {
  font-size: 60px;
  font-style: normal;
}
.p-about__history .c-list__ul01 {
  padding: 15px 0 95px;
}
.p-about__history .c-list__ul01 > li {
  position: relative;
  display: block;
  margin-right: 20%;
}
.p-about__history .c-list__ul01 > li::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 7px;
  left: 0;
  margin-left: -1.5em;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
}

.p-about__history .c-list__ul01 dl {
  padding: 25px 0 0;
  margin: 0 auto;
}
.p-about__history .c-list__ul01 dl dt {
  color: #1BA6B2;
  font-size: 13px;
}
.p-about__history .c-list__ul01 dl dd {
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  padding: 0 0 30px;
}


.p-about__history .border-line {
  left: 15%;
  background-color: #1BA6B2;
}

@media screen and (max-width: 1023px) {

  .area {
    padding: 10px 0;
  }
  .p-about__head {
    border-bottom: none;
  }
  .p-tabs {
    margin: 0 auto;
  }
  .p-tabs li {
    width: 50%;
    padding: 0;
  }
  .p-tabs li a {
    padding: 30px 0;
  }
  .p-tabs__contents {
    margin: 0 auto;
  }

  .tab li a {
    border-radius: 0;
    border: 1px solid #F3F2F0;
    border-left: 15px solid #F3F2F0;
    font-size: 14px;
    color: #1ba6b2;
    text-align: center;
    background-color: #fff;
  }

  .tab li.active a {
    border-radius: 0;
    border: 1px solid #F3F2F0;
    border-left: 15px solid #1ba6b2;
    text-align: center;
  }

  .p-about__feature .p-contents__01__description > p {
    padding: 500px 0 0 0;
  }
  .p-contents__01__image {
    top: 200px;
  }

  .p-about__history .border-line {
    left: 5%;
  }
  .p-about__history .image {
    width: 10%;
  }
  .p-about__history .image > div {
    position: absolute;
    top: 0;
    left: 80%;
    transform: translateX(-50%);
  }
  .p-about__history .p-contents__01__description {
    width: 90%;
    padding-top: 100px;
  }
  .p-about__history .c-ttl__26,
  .p-about__history .c-ttl__27 {
    text-align: right;
  }

  .p-about__history .c-list__ul01 > li {
    margin-right: 0;
  }
  .p-about__history .c-list__ul01 {
    padding: 15px 0 0px;
  }


  .p-tabs__contents .c-datalist__01 dt,
  .p-tabs__contents .c-datalist__01 dd {
    padding-left: 0;
    padding: 5px 10px;
    text-align: left;
    border: none;
  }
  .p-tabs__contents .c-datalist__01 dt {
    color: #fff;
    background-color: #1ba6b2;
  }
  .p-tabs__contents .c-datalist__01 dd {
    color: #1ba6b2;
    background-color: #fff;
  }

  .p-tabs__contents .c-datalist__01 dd ul li:not(:last-of-type)::before {
    left: 0;
    width: 100%;
  }

}
