@charset "utf-8";

.c-btn__01 {
  display: block;
  position: relative;
  width: 100%;
  color: #303339;
  font-size: 1.4em;
  letter-spacing: 1.5px;
  line-height: 1.6;
	width: max-content;
	padding-right: 3em;
  padding-bottom: 1em;
  border-bottom: 1px solid #B5B5B6;
}
.c-btn__01::before {
  content: '';
  position: absolute;
  right: -14px;
  bottom: -12px;
  width: 40px;
  height: 40px;
  border: 1px solid #B5B5B6;
  border-radius: 50%;
  transition: all .8s;
  z-index: 1;
}
.c-btn__01:hover::before {
  background-color: #EFEFEF;
  transition: all .8s;
}
.c-btn__01::after {
  content: '';
  position: absolute;
  right: -2px;
  bottom: 4px;
  transform: rotate(45deg);
  width: 1em;
  border-top: 1px solid #B5B5B6;
}

.c-btn__02 {
  position: relative;
}
.c-btn__02 > span {
  display: block;
  position: relative;
  width: max-content;
	padding-right: 2em;
}
.c-btn__02 > span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0.5em;
  transform: translateY(-50%);
  width: 1em;
  height: 0.8em;
  background: no-repeat center / contain url(../img/link-out.svg);
}

/* .c-btn__02::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1.5em;
  height: 1.5em;
  background: no-repeat center / contain url(../img/link-out.svg);
} */

.c-btn__03 {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.c-btn__03 > span {
  position: absolute;
  right: 2em;
  bottom: 2em;
  width: 200px;
  height: 1px;
  background-color: #fff;
  z-index: 9;
}
.c-btn__03 > span::before {
  content: "";
  position: absolute;
  top: -2em;
  right: -1em;
  width: 3em;
  height: 3em;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: background-color .8s;
}
.c-btn__03:hover > span::before {
  background-color: #EFEFEF;
  transition: background-color .8s;
}
.c-btn__03 > span::after {
  content: "";
  position: absolute;
  top: -0.3em;
  right: 0;
  width: 10px;
  height: 1px;
  transform: rotate(45deg);
  background-color: #fff;
  z-index: 9;
}

.c-btn__04 {
  display: block;
  font-size: 17px;
  color: #006591;
  letter-spacing: 1px;
  width: max-content;
  padding: 1em 1.5em;
  border: 1px solid #006591;
  transition: background-color .8s;
}
.c-btn__04:hover {
  /* color: #fff;
  background-color: #006591;
  transition: background-color .8s; */
}


.c-btn__04.__coming {
  position: relative;
}
.c-btn__04.__coming::before {
  content: "準備中";
  position: absolute;
  color: #fff;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  padding: 1em 1.5em;
  background-color: rgba(0,0,0,0.7);
}
/* .c-btn__04:hover.__coming {
  color: #fff;
  background-color: #F0F6F7;
} */

.c-btn__05 {
  display: block;
  width: 200px;
  transition: opacity .8s;
  opacity: 1;
}
.c-btn__05:hover {
  opacity: .3;
  transition: opacity .8s;
}
