@charset "utf-8";




.mCSB_scrollTools.mCSB_scrollTools_horizontal {
  height: 44px;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
  height: 44px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #006591;
}
.mCSB_draggerContainer {
  display: flex;
  align-items: center;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
  position: relative;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 1px;
  background-color: #fff;
  left: 68%;
  bottom: 0.7em;
  transform: translateX(-50%) rotate(45deg);
  z-index: 9;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.6em;
  width: 70%;
  height: 1px;
  color: #fff;
  background-color: #fff;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #006591;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar::before {
  content: "scroll";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
}


.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  height: 4px;
  background-color: #DCDDDD;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft,
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
  background: none;
}


@media screen and (max-width: 1023px) {

  .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    border-radius: 0;
    background-color: #fff;
  }

  .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger::before,
  .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger::after {
    background-color: #006591;
  }

  .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
    background-color: #fff;
  }

  .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar::before {
    font-size: 11px;
    color: #006591;
    letter-spacing: 1px;
  }

}

