---
import Layout from "@layouts//Layout.astro";
import SubFv from "@components//sub-fv.astro";

const baseUrl = import.meta.env.BASE_URL;
---

<Layout title=ページタイトル  description="ページの紹介文">
  <SubFv title="資料ダウンロード" titleEn="Materials Download" />
  <div class="inner">
  <form class="form" action="post">
    <div class="form__inner">
      <p class="form__title">サービス資料ダウンロード</p>
      <p class="form__text">資料をご希望の方はフォームに<br class="u-sp">入力のうえ送信してください。<br>送信完了画面または<br class="u-sp">登録アドレスに届くメールから<br class="u-sp">ダウンロードできます。</p>
      <div class="form__content">
        <label class="form__label">
          <span class="form__label-text" data-required="必須">会社名</span>
          <input class="form__input" type="text" name="company" placeholder="株式会社Trust Link" autocomplete="organization" required/>
        </label>
        <label class="form__label">
          <span class="form__label-text" data-required="必須">名前</span>
          <input class="form__input" type="text" name="name" placeholder="山田 太郎" autocomplete="name" required/>
        </label>
        <label class="form__label">
          <span class="form__label-text" data-required="必須">電話番号</span>
          <input class="form__input" type="tel" name="tel" placeholder="080-0000-0000" autocomplete="tel" required/>
        </label>
        <label class="form__label">
          <span class="form__label-text" data-required="必須">メールアドレス</span>
          <input class="form__input" type="email" name="email" placeholder="trust_link@sample.jp" autocomplete="email" required/>
        </label>
       
      </div>
        <label class="form__label form__label--checkbox">
          <input class="form__checkbox" type="checkbox" name="privacy" />
          <span class="form__privacy">
            <a class="form__link" href={`${baseUrl}privacy`}>プライバシーポリシー</a>
            に同意する</span>
        </label>
        
        <button class="form__button" type="submit">
          <p class="form__submit">資料をダウンロードする</p>
        </button>
    </div>
  </form>
  </div>

</Layout>
<style>

  input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
opacity: 0;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}
  .inner{
    padding-inline:calc(0* var(--torem));
    @media(width >= 48rem) {
      padding-inline:calc(20* var(--torem));
    }
  }

  ::placeholder{
  color:#AAAAAA;
  font-size: calc(16* var(--torem));
  letter-spacing: 0.05em;
  font-weight: 400;
}
.form {
background-color: #E6E9EE;
max-inline-size: calc(1200* var(--torem));
inline-size: 100%;
margin-inline: auto;
padding-block:calc(40* var(--torem));
border-radius: calc(20* var(--torem));
margin-block-end:0;
@media(width >= 48rem) {
  margin-block-end: calc(53* var(--torem));
}
}

.form__inner {
padding-inline:calc(10* var(--torem));

}
.form__title {
  font-size: calc(25* var(--torem));
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #000000;
  text-align: center;
  @media(width >= 48rem) {
    font-size: calc(32* var(--torem));
  }
}
.form__text {
font-size: calc(16* var(--torem));
font-weight: 400;
letter-spacing: 0.1em;
color: #000000;
margin-block-start: calc(30* var(--torem));
text-align: center;
@media(width >= 48rem) {
  font-size: calc(20* var(--torem));
}
}

.form__content {
margin-block-start:calc(30* var(--torem));
max-inline-size: calc(840* var(--torem));
inline-size: 100%;
display: grid;
margin-inline:auto;
gap: calc(24* var(--torem));
@media(width >= 48rem) {
margin-block-start:calc(73* var(--torem));
}
}

.form__label {
display: grid;
gap: calc(8* var(--torem));
}

.form__label--checkbox{
  gap:0;
  max-inline-size: calc(840* var(--torem));
  inline-size: 100%;
  margin-inline: auto;
  margin-block-start: calc(20* var(--torem));
  
}

.form__label-text {
display: flex;
align-items: center;
font-size: calc(18* var(--torem));
font-weight: 500;
letter-spacing: 0.1em;
gap: calc(10* var(--torem));
}
.form__label-text::after{
  content: attr(data-required);
  color: var(--white);
  display: grid;
  place-items: center;
  font-weight: 500;
  font-size: calc(14* var(--torem));
  inline-size: calc(44* var(--torem));
  block-size: calc(24* var(--torem));
  background: linear-gradient(86.82deg, #20377A 4.26%, #2C85C5 92.99%);
}

.form__input {
inline-size: 100%;
background-color: var(--white);
block-size: calc(50* var(--torem));
padding: calc(10* var(--torem)) calc(10* var(--torem));
border-radius: calc(5* var(--torem));
font-size: calc(16* var(--torem));
}


.form__privacy{
  cursor: pointer;
  font-size:calc(16* var(--torem));
  font-weight: 400;
  display: flex;
  align-items: center;
  position: relative;
}

.form__privacy::before{
	background: #fff;
	border: 1px solid #3C98CF;
	content: "";
	display: block;
  inline-size: calc(20* var(--torem));
  block-size: calc(20* var(--torem));
  margin-inline-end:calc(15* var(--torem));
	transform: translateY(4px);
}

.form__privacy::after {
	-webkit-transform: translateY(-50%) rotate(-45deg);
	border-bottom: 3px solid #3C98CF;
	border-left: 3px solid #3C98CF;
	content: "";
	display: block;
	block-size: calc(8* var(--torem));
	left: 3px;
	opacity: 0;
  margin-block-start:calc(1px);
  
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	transition: all 0.3s ease 0s;
	inline-size: calc(16* var(--torem));
}

.form__checkbox:checked + .form__privacy::after {
	opacity: 1;
} 

.form__button {
display: block;
margin-inline: auto;
margin-block-start: calc(60* var(--torem));
}

.form__submit {
font-size: calc(18* var(--torem));
   font-weight: 500;
   color: var(--white);
   background: var(--gradient-color);
   border-radius: 40px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   text-align: center;
   gap: calc(15* var(--torem));
    padding: calc(16* var(--torem)) calc(30* var(--torem));
   text-decoration: none;
   letter-spacing: 0.1em;
   transition: all 0.3s ease;
   position: relative;
   overflow: hidden;
   z-index: 1;
   inline-size: calc(316* var(--torem));
   @media(width >= 48rem) {
    justify-content: center;
     padding: calc(12* var(--torem)) ;
    }
  
  }
  
  
  .form__submit::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   inline-size: 100%;
   block-size: 100%;
   background: var(--gradient-color-hover);
   opacity: 0;
   transition: all 0.3s ease;
   z-index: -1;
  }
  .form__submit::after{
    background: url("../assets/images/btn-arrow.webp") no-repeat center center / contain;
    content: "";
    display: block;
    inline-size: calc(35* var(--torem));
    block-size: calc(35* var(--torem));
    position: absolute;
    right: calc(20* var(--torem));
    top: 50%;
    transform: translateY(-50%);
    @media(width >= 48rem) {
      position: static;
      transform: none;
      top: auto;
      right: auto;
    }
  }
  @media (any-hover: hover) {

  .form__submit:hover::before {
       opacity: 1;
   }
  }


</style>
