---
import Layout from "@layouts/Layout.astro";
import CardDown from "@components/CardDown.astro";
import SubFv from "@components/sub-fv.astro";
import Close from "@components/Close.astro";
---

<Layout title="資料ダウンロード完了 | Nexus Strategy"  description="資料ダウンロードありがとうございます">
  <SubFv title="資料ダウンロード" titleEn="Materials Download" margin />
  <div class="dowmload" data-aos="fade-up" data-aos-duration="3000">
    <div class="dowmload__inner"> 
      <div class="dowmload-cards">
        <CardDown title="ここに資料タイトルが入ります。" alt="資料ダウンロード" link="/" label="ダウンロードする" />
        <CardDown title="ここに資料タイトルが入ります。" alt="資料ダウンロード" link="/" label="ダウンロードする" />
        <CardDown title="ここに資料タイトルが入ります。" alt="資料ダウンロード" link="/" label="ダウンロードする" />
        <CardDown title="ここに資料タイトルが入ります。" alt="資料ダウンロード" link="/" label="ダウンロードする" />
        <CardDown title="ここに資料タイトルが入ります。" alt="資料ダウンロード" link="/" label="ダウンロードする" />
        <CardDown title="ここに資料タイトルが入ります。" alt="資料ダウンロード" link="/" label="ダウンロードする" />
      </div>
  </div>
  </div>
  <Close />
</Layout>
<style>
 
  .dowmload{
    background: url("../assets/images/column-cards-bg.png") no-repeat top;
    background-size: cover;
    
    @media(width >= 48rem) {
      background-size: contain;
    }
  }
  .dowmload__inner{
    padding-inline: calc(20* var(--torem));
    max-inline-size: calc(1140* var(--torem));
    margin-inline: auto;
  }
  .dowmload-cards{
    display: grid;
    gap: calc(20* var(--torem));
    padding-block-start: calc(30* var(--torem));
    padding-block-end: calc(70* var(--torem));
    justify-content: center;
    
    @media(width >= 48rem) {
      gap: calc(40* var(--torem));
      grid-template-columns: repeat(auto-fit, minmax(min(calc(340 * var(--torem)), 100%), calc(340 * var(--torem))));
      padding-block-start: calc(80* var(--torem));
      padding-block-end: calc(140* var(--torem));
    }
  }
</style>