:root {
  --font-main: "Noto Sans JP", sans-serif;
  --font-en: "din-condensed", sans-serif;
  --main-color: #333;
  --gradient-color: linear-gradient(86.82deg, #20377a 4.26%, #2c85c5 92.99%);
  --gradient-color-hover: linear-gradient(86.82deg, #2c85c5 4.26%, #20377a 92.99%);
  --white: #fff;
  --index-front: 4;
  --index-back: -1;
}

body {
  font-family: var(--font-main);
  color: var(--main-color);
}

.body {
  position: relative;
  z-index: 0;
  overflow-x: hidden;
  background: url("../assets/images/bg.webp") no-repeat center / cover;
}
.body::before {
  position: absolute;
  inset: 0;
  z-index: -1;
  inline-size: 100%;
  block-size: 100%;
  content: "";
  background-color: #f3f3f3;
  opacity: 0.9;
}
main {
  position: relative;
  z-index: 1;
}

figure {
  margin: 0;
}

.card-content__text--blue span {
  font-weight: 800;
  color: #255697;
}

.card-content__text--grade span {
  color: #2c82c2;
  font-weight: 700;
}

.u-sp {
  display: block;
  @media (width > 48rem) {
    display: none;
  }
}
.u-pc {
  display: none;
  @media (width > 48rem) {
    display: block;
  }
}

.section__title--sp br {
  display: block;
  @media (width > 48rem) {
    display: none;
  }
}





