---
const { title } = Astro.props;
---

  <h2 class="title__text">{title}</h2>


<style> 

.title__text{
  font-weight: var(--weight-middle);
  letter-spacing: 0.1em;
  line-height: 1;
  font-weight: 600;
  font-size: calc(28* var(--torem));
  @media(width >= 48rem) {
    font-size: calc(42* var(--torem));

  }
}


</style>