---
const { title } = Astro.props;  
---

<p class="title__en">{title}</p>

<style> 
.title__en{
background: linear-gradient(86.82deg, #20377A 4.26%, #2C85C5 92.99%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
display: flex;
inline-size: fit-content;
align-items: center;
gap: calc(5* var(--torem));
font-size: calc(26* var(--torem));
font-family: var(--font-en);
font-weight: 700;
@media(width >= 48rem) {
  font-size: calc(30* var(--torem));

}
  }
  .title__en::before{
    content: "";
    display: block;
    background: url("../assets/images/srcle.webp") no-repeat center / contain;
    inline-size: calc(12* var(--torem));
    block-size: calc(12* var(--torem));
    
  }
</style>